req.txt
Sprint_3.py
.DS_Store/
.idea/
__pycache__/
__pycache__/Locators.cpython-310.pyc
__pycache__/conftest.cpython-310-pytest-7.2.2.pyc
__pycache__/func.cpython-310.pyc
tests/__pycache__/constructor_tests.cpython-310-pytest-7.2.2.pyc
tests/__pycache__/profile_tests.cpython-310-pytest-7.2.2.pyc
tests/__pycache__/registration_tests.cpython-310-pytest-7.2.2.pyc
tests/__pycache__/log_in_tests.cpython-310-pytest-7.2.2.pyc


